@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:ital,wght@0,100;0,300;1,100;1,500;1,700&display=swap');

* {
  font-family:'Poppins', sans-serif;
}

button {
  outline: none;
  cursor: pointer;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

body .microphone-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

header {
  background-color: rgb(248, 132, 0);
  align-items: center;
}

.wrap-button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.not-registered a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.title-content {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.title-content .back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-content .back-btn a {
  color: white;
  text-decoration: none;
}

.title-content .the-main-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-content p {
  color: #FFF;
  font-size: 38px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-login {
  height: 100vh;
  width: 100vw;
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-login button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-login:first-child {
  margin-bottom: 30px;
}

.div-login .input p {
  margin: 5px 0;
  font-weight: 300;
}

.div-login .input.second {
  margin-top: 18px;
}

.div-login input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 300px;
  border: solid 1px #CCC;
  border-radius: 8px;
  padding: 8px 24px;
}

.wrap-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-button button {
  font-size: 22px;
}

.box-btn {
  background-color: rgb(248, 132, 0);
  color: rgb(250, 250, 250);
  margin-top: 45px;
  padding: 10px 22px;
  border: 0px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.box-btn:hover {
  background-color: #f89900;
}

.not-registered {
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}

.not-registered .space {
  padding-left: 7px;
}

.not-registered .space .linha-biruliru {
  border-bottom: 0;
  transition: .15s ;
}

.not-registered .space .linha-biruliru:hover {
  border-bottom: 2px solid #000;
}

.microphone-icon {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 70px;
}

.microphone-btn {
  background-color: #f89900;
  border: none;
  color: white;
  padding: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-self: center;
}

.microphone-btn:hover {
  background-color: rgb(248, 132, 0);
}

.microphone-btn i {
  font-size: 25px;
}