* {
  margin: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

header {
  vertical-align: center;
  background-color: rgb(248, 132, 0);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 32px;
}

.div-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.div-left p {
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding-right: 5px;
}

.div-right {
  display: flex;
  justify-content: right;
  align-items: right;
  padding-right: 5px;
}

.icon-bell {
  background-color: rgb(248, 132, 0);
  border: none;
}

.div-right i {
  display: flex;
  font-size: 22px;
  color: white;
  height: 20%;
  padding: 0 auto;
}

body {
  width: 100vw;
  height: 100vh;
}

.div-center {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.microphone-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.microphone-icon button {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0 auto;
  height: 50%;
}

.microphone-icon i {
  display: flex;
  font-size: 22px;
  color: rgb(0, 0, 0);
  height: 50%;
  padding-left: 10px;
}

.input-adjust {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-center .input-adjust input {
  height: 50%;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-adjust input {
  display: flex;
  height: 50%;
  width: 100%;
  margin-top: 25px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.068);
}

.lupa-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lupa-icon button {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0 auto;
  padding-right: 30px;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.lupa-icon i {
  display: flex;
  font-size: 22px;
  color: rgb(0, 0, 0);
  height: 50%;
  padding-right: 10px;
}



